form
    .createEventForm
        input(type="text" class="form-control input-lg" placeholder="Event title" maxlength="20" ng-model="formData.title" required)
        input(type="file" class="form-control input-lg" file-input="mainImage" name="mainImage" required)
        input(type="text" class="form-control input-lg" placeholder="Event category" maxlength="15" ng-model="formData.category" required)
        input(type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" class="form-control input-lg" ng-model="formData.date" required)
        input(type="text" class="form-control input-lg" placeholder="What is happening..." ng-model="formData.infoWhat")
        input(type="file" class="form-control input-lg" file-input="eventImage" name="eventImage")
        input(type="number" class="form-control input-lg" min="0" value="0" ng-model="formData.price")
        input(type="text" class="form-control input-lg" placeholder="Who is going..." ng-model="formData.infoWho")
        input(type="file" class="form-control input-lg" file-input="speakerImage1" name="speakerImage1")
        input(type="file" class="form-control input-lg" file-input="speakerImage2" name="speakerImage2")
        input(type="file" class="form-control input-lg" file-input="speakerImage3" name="speakerImage3")
        input(type="file" class="form-control input-lg" file-input="speakerImage4" name="speakerImage4")
        input(type="file" class="form-control input-lg" file-input="speakerImage5" name="speakerImage5")
        input(type="file" class="form-control input-lg" file-input="speakerImage6" name="speakerImage6")
        input(type="file" class="form-control input-lg" file-input="speakerImage7" name="speakerImage7")
        input(type="file" class="form-control input-lg" file-input="speakerImage8" name="speakerImage8")
        input(type="file" class="form-control input-lg" file-input="speakerImage9" name="speakerImage9")
        input(type="text" class="form-control input-lg" placeholder="Where is it happening..." ng-model="formData.location")
        input(type="file" class="form-control input-lg" file-input="locationImage" name="locationImage")
        input(type="text" class="form-control input-lg" placeholder="What is the timeline..." ng-model="formData.timeline")
    button(type="submit" class="btn btn-primary btn-lg" ng-click="createEvent()") Create Event
    button(type="reset" class="btn btn-primary btn-lg") Clear form
