.eventContainer
    .sideBar(scroll='')
        .navElement.theEvent The Event
        .navElement.theAtendees The Atendees
        .navElement.theTimeline The Timeline
        .navElement.thePlace The Place
        .navElement.theCost The Cost
    .eventPage
        .banner(style="background-image: url(\"{{images.mainImage}}\")")
            .banner-overlay
                h1 {{event.title}}
                h3 22nd December 2016
                ul.countdown
                    li 000 days
                    li 00 hours
                    li 00 minutes
                    li 00 seconds
                .buttons
                    button Add to Calendar
                    button Find us
        section#theEvent.event-info
            .event-picture(style="background-image: url(\"{{images.eventImage}}\")")
            .event-text
                h2 The event
                p {{event.infoWhat}}
        section#theAtendees.speakers-info
            .speaker-pictures
                .picture(ng-repeat="speaker in images.speakers")
                    img(src="{{speaker}}")
                    h3 Jane Doe
            .speaker-text
                h3 The Atendees
                p {{event.infoWho}}
        section#theTimeline
            h3 The timeline
            p {{event.timeline}}
        section#thePlace.location-info
            .location-picture(style="background-image: url(\"{{images.locationImage}}\")")
            .location-text
                h3 The Place
                p {{event.location}}
        section#theCost
            h3 The Cost
            p {{event.price}}

.eventFooter
    p Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
        | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
        | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
        | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
        | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
        | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
        | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
        | Lorem ipstheEvent dolor sit
