div(ng-controller='MainCtrl')
    #slides_control
        div
            carousel(interval='myInterval')
                slide(ng-repeat='slide in slides', active='slide.active')
                    img(ng-src='{{slide.image}}')
                    .carousel-caption
                        h4 Slide {{$index+1}}
    .upcoming
        h3 UPCOMING EVENTS
    .calendar
        .month January
        .months(ng-repeat="month in months")
            p {{month}}
    .eventsMainContainer
        .eventMain(ng-repeat="event in events" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()")
          span(ng-show='hoverEdit')
            .price {{event.price}}
            .title {{event.title}}
            .location {{event.location}}
          .lowerEventBanner
            .wrap
                .category {{event.category}}
            .date {{event.date}}


div
    .events(ng-repeat="event in events" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()")
        p {{event.category}}
        span(ng-show='hoverEdit')
        p {{event.date}}
        p {{event.price}}
        p {{event.title}}

.eventFooter
    p Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
        | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
        | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
        | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
        | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
        | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
        | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
        | Lorem ipstheEvent dolor sit
