div
    #slides_control
        div
            carousel(interval='myInterval')
                slide(ng-repeat='slide in slides', active='slide.active')
                    img(ng-src='{{slide.image}}')
                    .carousel-caption
                        h4 Slide {{$index+1}}
    .upcoming
        h3 UPCOMING EVENTS
    .calendar
        .month January
        .months(ng-repeat="month in months")
            p {{month}}
    .eventsMainContainer
        a(ng-repeat="event in events | filter:myFilter" ng-href="/event/{{event.id}}")
            .eventMain(ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" style="background-image: url(\"{{event.imageUrl}}\")")
                .hoverBanner(ng-show='hoverEdit')
                    .wrapPrice
                        .price {{event.price}}€
                    .fa.fa-map-marker.location {{event.location}}
                    .fa.fa-clock-o.date {{event.date}}
                .lowerEventBanner
                    .wrap
                        .category {{event.category}}
                    .title {{event.title}}

        tags-input(ng-model='inputText')
        p Model: {{inputText}}

.eventFooter
    p Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
    | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
    | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
    | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
    | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
    | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
    | Lorem ipstheEvent dolor sit amet, consectetur adipiscing elit. Nullam aliquet, quam nec venenatis
    | Lorem ipstheEvent dolor sit
