extends home

block content
    header.header-two-bars
        .header-first-bar
            .header-limiter
                h1
                    a(href='/')
                        | Company
                        span logo
                nav
                    a.selected(href='/') Home
                    a(href='/event') Event
                    a(href='#') MyCalendar
                    a(href='#') MyProfile
                a.logout-button(href='#') Logout
        .header-second-bar
            .header-limiter
