extends home

block content
    header.header-two-bars
        .header-first-bar
            .header-limiter
                h1
                    a(href='/')
                        | Helsinki
                        span Events
                nav
                    a.selected(href='/') Event Page
                    a(href='/create_event') Create Event
